<app-navbar></app-navbar>

<div class="table-holder">
  <div class="title-wrapper">
    <div class="title-holder">
      <h1 class="list-title">Assessments</h1>
    </div>
  </div>

  <div class="container table">
    <div *ngIf="dataSource$ | async as dataSource">
      <mat-table
        class="assess-table mat-elevation-z8"
        [dataSource]="allDataSource"
      >
        <!-- # Column -->
        <ng-container matColumnDef="id">
          <th class="header id-column" mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th class="header name-column" mat-header-cell *matHeaderCellDef>
            Name
          </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/report', element.id]">{{ element.name }}</a>
          </td>
        </ng-container>

        <!-- User Resolved Column -->
        <ng-container matColumnDef="users_resolved">
          <th class="header resolved-column" mat-header-cell *matHeaderCellDef>
            Users Resolved
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.users_resolved }}
          </td>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
          <th class="header active-column" mat-header-cell *matHeaderCellDef>
            Active
          </th>
          <td mat-cell *matCellDef="let element">{{ element.active }}</td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image_url">
          <th class="header image-column" mat-header-cell *matHeaderCellDef>
            Image
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="image-wrapper">
              <img class="image" src="{{ element.image_url }}" alt="cat" />
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </mat-table>

      <mat-paginator
        [length]="dataSource.length"
        [pageSizeOptions]="[3, 5, 10]"
        (page)="updateRouteParameters($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
