.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 56px;
  margin-left: -50px;
  box-shadow: inset;
}

mat-toolbar {
  background-color: 10px 5px 5px grey;
  direction: rtl;
  text-align: center;
}
