<mat-toolbar color="primary">
  <nav class="navbar navbar-expand-lg">
    <p>Assessments App</p>
    <div class="container-right">
      <div class="container-fluid">
        <div *ngIf="isAdmin && isAuthorized">
          <a
            class="navbar-brand"
            href="admin-user-list"
            (click)="goToUsers()"
            queryParamsHandling="preserve"
            >Users</a
          >
        </div>
        <div *ngIf="isAuthorized">
          <a class="navbar-brand" href="" (click)="logout()">Log out</a>
        </div>
      </div>
    </div>
  </nav>
</mat-toolbar>
