.container {
  width: 700px;
  margin-top: 50px;
}

.form-control {
  display: block;
}

.form-group {
  display: grid;
}

mat-error {
  margin: -20px 0 20px;
}

mat-select {
  height: 55px;
  width: 300px;
}

fieldset {
  margin-top: 10px;
}

input {
  width: 270px;
}

.mat-form-field-label-wrapper {
  height: 40px;
}

mat-form-field {
  width: 300px;
}

li {
  display: flex;
  flex-wrap: wrap;
}

.btn.btn-primary {
  width: 100px;
  margin-top: 10px;
}

#submit-button-div {
  display: flex;
  justify-content: center;
}
