@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Ubuntu";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Ubuntu";
}
form {
  width: 300px;
  margin: 35px auto 100px;
  display: block;
  float: none;
}
